[submodule "src/main/resources/META-INF/resources/frontend"]
	path = src/main/resources/META-INF/resources/frontend
	url = https://github.com/med-united/frontend-ere-health.med-united.health
	branch = main
